<% kids = children_map[node.id] %>

<div class="tree-row" data-folder-id="<%= node.id %>" data-folder-name="<%= node.name %>" style="padding-left:<%= depth * 18 %>px;">
  <button type="button" class="tree-toggle <%= 'is-hidden' unless kids.any? %>" aria-label="Toggle">
    ▸
  </button>

  <button type="button" class="tree-pick">
    <%= folder_icon_tag(css_class: "tree-icon") %>
    <span class="tree-name"><%= node.name %></span>
  </button>
</div>

<% if kids.any? %>
  <div class="tree-children" style="display:none;">
    <% kids.each do |child| %>
      <%= render "move_tree_node", node: child, depth: depth + 1, children_map: children_map %>
    <% end %>
  </div>
<% end %>
