<h2>Your Folders</h2>

<p>
  <%= link_to "Create New Folder", new_folder_path, class: "btn-green" %>
</p>

<div class="folders-grid">
  <% @folders.each do |folder| %>
    <%= link_to folder_path(folder), class: "folder-card" do %>
      <div class="folder-header">
        <h3><%= folder.name %></h3>
        <span class="cv-count"><%= folder.cvs.count %> CVs</span>
      </div>
      <p class="folder-created">Created: <%= folder.created_at.strftime("%d %b %Y") %></p>
      <div class="folder-hover">Click to Open</div>
    <% end %>
  <% end %>
</div>

<% if @folders.empty? %>
  <p>You have no folders yet.</p>
<% end %>
