<h2>Create New Folder</h2>

<%= form_with model: @folder, local: true do |f| %>
  <div style="margin-bottom: 10px;">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "border rounded px-2 py-1 w-full" %>
  </div>

  <div>
    <%= f.submit "Create Folder", class: "bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded" %>
    <%= link_to "Back to Folders", folders_path, class: "ml-2 text-gray-700 hover:underline" %>
  </div>
<% end %>

<% if flash[:notice] %>
  <p style="color: green; margin-top: 10px;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p style="color: red; margin-top: 10px;"><%= flash[:alert] %></p>
<% end %>
