<div class="auth-page">
  <div class="auth-card">
    <h2>Create New Folder</h2>

    <%= form_with(model: @folder, local: true) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: "Folder Name" %>
      </div>

      <div class="actions" style="text-align:center;">
        <%= form.submit "Create Folder", class: "btn primary" %>
      </div>
    <% end %>

    <div class="auth-footer">
      <%= link_to "Back to Dashboard", dashboard_path %>
    </div>
  </div>
</div>
