<footer class="main-footer">
  <div class="container">
    <div class="footer-links">
      <%= link_to "About", about_path %>
      <%= link_to "Privacy", privacy_path %>
      <%= link_to "Terms", terms_path %>
      <%= link_to "Contact", contact_path %>
    </div>
    <p>&copy; <%= Time.current.year %> CrewitDrive. All rights reserved.</p>
  </div>
</footer>
