<h1>CVs</h1>
<%= link_to "Upload New CV", new_cv_path, class: "button" %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Folder</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cvs.each do |cv| %>
      <tr>
        <td><%= cv.title %></td>
        <td><%= cv.folder.name if cv.folder %></td>
        <td>
          <%= link_to "Show", cv_path(cv), class: "button" %>
          <%= link_to "Edit", edit_cv_path(cv), class: "button" %>
          <%= link_to "Delete", cv_path(cv), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
