<!-- app/views/cvs/index.html.erb -->
<div class="dashboard-page">
  <h1>CVs in <%= @folder.name %></h1>

  <% if @cvs.any? %>
    <div class="cvs-container">
      <% @cvs.each do |cv| %>
        <div class="cv-card">
          <h2><%= cv.file.filename %></h2>
          <div class="cv-actions">
            <%= link_to "Download", rails_blob_path(cv.file, disposition: "attachment"), class: "btn secondary" %>
            <%= link_to "Delete", folder_cv_path(@folder, cv), method: :delete, data: { confirm: "Are you sure?" }, class: "btn secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="empty-message">
      No CVs yet. <%= link_to "Upload one", new_folder_cv_path(@folder) %>
    </p>
  <% end %>
</div>
