<h2>Upload New CV to "<%= @folder.name %>"</h2>

<%= link_to "Back to Folder", folder_path(@folder) %>

<div class="form-container">
  <%= form_with(model: [@folder, @cv], local: true, html: { multipart: true }) do |f| %>
    <% if @cv.errors.any? %>
      <div class="flash flash-alert">
        <h4><%= pluralize(@cv.errors.count, "error") %> prevented this CV from being saved:</h4>
        <ul>
          <% @cv.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.label :file %><br>
      <%= f.file_field :file, class: "input-field" %>
    </div>

    <div>
      <%= f.submit "Upload CV", class: "btn-blue" %>
    </div>
  <% end %>
</div>
