<!DOCTYPE html>
<html>
<head>
  <title>TES1 CV App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body class="bg-gray-100 font-sans min-h-screen">

  <!-- Navigation -->
  <nav class="bg-blue-600 text-white p-4 shadow-md">
    <div class="container mx-auto flex justify-between">
      <a href="/" class="font-bold text-xl">TES1 CV App</a>
      <div>
        <% if current_user %>
          <span class="mr-4">Hello, <%= current_user.name %></span>
          <%= link_to "Logout", logout_path, method: :delete, class: "hover:underline" %>
        <% else %>
          <%= link_to "Login", login_path, class: "mr-4 hover:underline" %>
          <%= link_to "Sign Up", signup_path, class: "hover:underline" %>
        <% end %>
      </div>
    </div>
  </nav>

  <!-- Flash messages -->
  <div class="container mx-auto mt-4">
    <% flash.each do |type, message| %>
      <div class="mb-4 px-4 py-3 rounded relative
        <% if type == 'notice' %> bg-green-100 border border-green-400 text-green-700
        <% elsif type == 'alert' %> bg-red-100 border border-red-400 text-red-700
        <% end %>"
      >
        <span class="block sm:inline"><%= message %></span>
      </div>
    <% end %>
  </div>

  <!-- Main content -->
  <div class="container mx-auto mt-6">
    <%= yield %>
  </div>

</body>
</html>
