<!DOCTYPE html>
<html>
  <head>
    <title>CV Share</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless controller_name.in?(%w[sessions users home]) %>
      <header class="main-header">
        <div class="container">
          <div class="logo">
            <%= link_to "CV Share", root_path %>
          </div>
          <nav class="nav-links">
            <% if current_user %>
              <%= link_to "Dashboard", dashboard_path, class: "btn primary" %>
              <%= button_to "Logout", logout_path, method: :delete, class: "btn secondary" %>
            <% else %>
              <%= link_to "Login", login_path, class: "btn secondary" %>
              <%= link_to "Sign Up", signup_path, class: "btn primary" %>
            <% end %>
          </nav>
        </div>
      </header>
    <% end %>

    <% if flash[:notice] %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="flash alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
